{% extends "base.html" %}

{% block cuerpo %}

<div class="row"><!-- Fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Empleado</h2>
        <!-- Tarjeta -->
        <div class="card">
            <div class="card-body">
                <form action="/editarEmpleado/" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" value="{{ empleado.id_empleado }}" class="form-control" minlength="1" maxlength="6" readonly required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" value="{{ empleado.nombre }}" class="form-control" minlength="1" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtapellido" name="txtapellido" value="{{ empleado.apellido }}" class="form-control" minlength="1" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtpuesto" name="txtpuesto" value="{{ empleado.puesto }}" class="form-control" minlength="1" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txttelefono" name="txttelefono" value="{{ empleado.telefono }}" class="form-control" minlength="1" maxlength="15" required><br>
                    </div>
                    <div class="form-group">
                        <input type="email" id="txtemail" name="txtemail" value="{{ empleado.email }}" class="form-control" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txthorario" name="txthorario" value="{{ empleado.horario }}" class="form-control" minlength="1" maxlength="50" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtidsucursal" name="txtidsucursal" value="{{ empleado.id_sucursal }}" class="form-control" minlength="1" maxlength="6" required><br>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-dark">Guardar Empleado</button><br>
                    </div>
                </form>
            </div>
        </div>
        <!-- Fin tarjeta -->
    </div>
</div><!-- Fila en editar -->

{% endblock %}
