{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Inventario</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarInventario/" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" value="{{ inventario.id_inventario }}" class="form-control" minlength="1" maxlength="6" readonly required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtidproducto" name="txtidproducto" value="{{ inventario.id_producto }}" class="form-control" minlength="1" maxlength="6" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtidproveedor" name="txtidproveedor" value="{{ inventario.id_proveedor }}" class="form-control" minlength="1" maxlength="6" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtestatus" name="txtestatus" value="{{ inventario.estatus }}" class="form-control" minlength="1" maxlength="50" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtdisponible" name="txtdisponible" value="{{ inventario.disponible }}" class="form-control" minlength="1" maxlength="6" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtidsucursal" name="txtidsucursal" value="{{ inventario.id_sucursal }}" class="form-control" minlength="1" maxlength="6" required><br>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-dark">Guardar Inventario</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
