{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Datos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarDatos/" method="post"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtidE" name="txtidE" value="{{ dat.id_empresa }}" class="form-control" minlength="1" maxlength="6" readonly required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtidS" name="txtidS" value="{{ dat.id_sucursal }}" class="form-control" minlength="1" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" value="{{ dat.nombre_empresa }}" class="form-control" minlength="1" maxlength="100" required><br>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtubicacion" name="txtubicacion" value="{{ dat.ubicacion_empresa }}" class="form-control" minlength="1" maxlength="200" required><br>
                    </div>
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-dark">Guardar Datos</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
